@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1>This is the admin page</h1>

    <h4>Statistics</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <p>We have @ViewData["NumberOfUsers"] registered users!</p>
        </div>
    </div>
</div>
