@model Mykennel.Models.Dog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"></label>
                <input asp-for="RegNumber" class="form-control" />
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Born" class="control-label"></label>
                <input asp-for="Born" class="form-control" />
                <span asp-validation-for="Born" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="form-control"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitlesGenetics" class="control-label"></label>
                <input asp-for="TitlesGenetics" class="form-control" />
                <span asp-validation-for="TitlesGenetics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DogImage" class="control-label"></label>
                <input type="file" name="File" id="uploadBox" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KennelId" class="control-label"></label>
                <select asp-for="KennelId" class="form-control" asp-items="ViewBag.KennelId"></select>
            </div>

            <div class="form-group">
                <label asp-for="FatherId" class="control-label"></label>
                <select asp-for="FatherId" class="form-control" asp-items="ViewBag.FatherId">
                    <option selected value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MotherId" class="control-label"></label>
                <select asp-for="MotherId" class="form-control" asp-items="ViewBag.MotherId">
                    <option selected value=""></option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyDogs">Back to My Dogs</a>
</div>

